.countries {
    fill: black;
    stroke: white;
    stroke-width: .5px;
}

.gratLines{
    stroke: gray;
    stroke-width: .25px;
}

.gratBackground {
    fill: #9AC0CD;
}

.map {
    border: medium solid #999;
}