.style {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.gratLines{
    stroke: gray;
    stroke-width: .25px;
}

.gratBackground {
    fill: #9AC0CD;
}

.map {
    border: medium solid #999;
}